* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
:root {
  --container-bg: #19172e;
  --ques-container-bg: #32304e;
  --ans-container-bg: linear-gradient(to right, #fec32e, #f7e52f);
  --ques-container-fg: #eae9ed;
  --ans-container-fg: #4a4146;
}
body {
  background-color: var(--container-bg);
}
.main-container {
  width: 100%;
  display: block;
  padding: 1em;
  background-color: var(--container-bg);
  letter-spacing: 0.1rem;
}
.question {
  width: 100%;
  padding: 1em;
  border-radius: 5px;
  background-color: var(--ques-container-bg);
  color: var(--ques-container-fg);
}
.question-heading {
  font-weight: 900;
  font-size: 1.2rem;
}
.question ul {
  margin-inline: 2.8em;
}
.question ul li {
  line-height: 1.5rem;
}
.answer-tag {
  font-size: 1.2rem;
  display: block;
  font-weight: 900;
  margin-left: 0em;
}
.answer {
  color: var(--ans-container-fg);
  padding: 1em;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 1em;
  background: var(--ans-container-bg);
}
.answer ol,
.answer ul {
  padding: 1em;
  line-height: 1.4rem;
}
ul {
  list-style: disc;
}
.answer h2 {
  font-size: 1.2rem;
  text-decoration: underline;
}
ol h3 {
  display: inline-block;
  text-decoration: underline;
  font-weight: 750;
  font-size: 1rem;
}
ul li h4 {
  display: inline-block;
}
.answer button {
  padding: 0.4rem 0.6rem;
  border-radius: 10px;
  border: none;
  background-color: var(--ques-container-bg);
  color: var(--ques-container-fg);
}

.answer .ans-code-example {
  display: block;
  width: 40%;
  border: none;
  border-radius: 6px;
  margin-block: 10px;
  box-shadow: 1px 1px 5px 2px #4a4146;
}
