* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
  text-decoration: underline;
}
.main-container {
  padding-inline: 2em;
}
.question,
.answer {
  width: 100%;
  border-radius: 8px;
  padding: 0.5em 1em;
  margin-block: 0.5em;
  background-color: #ffe4c4;
}
.grid-container-row-example {
  display: grid;
  grid-template-rows: 50px 50px 50px; /* Explicitly defining 3 rows */
  grid-auto-rows: 80px; /* Size for implicitly created rows */
  grid-gap: 10px;
}

.item-a {
  background: lightblue;
  padding: 20px;
  text-align: center;
}

.grid-container-column-example {
  display: grid;
  grid-template-columns: 100px 100px; /* Explicitly defining 2 columns */
  grid-auto-columns: 150px; /* Size for implicitly created columns */
  grid-gap: 10px;
}

.item-b {
  background: lightblue;
  padding: 20px;
  text-align: center;
}
.item-5 {
  grid-column: 3/4;
}
